<div class="mini-header-background">
    <div class="mini-header">
        <h3 style="font-size: 40px;"><b>{{"termini" | translate | uppercase}}</b></h3>
        <h4 style="font-size: 20px;"><b>{{"terminiHeaderDescription" | translate}}</b></h4>
    </div>
</div>
<div class="container" style="margin-top: 50px;">
    <h5>{{"termsH5-1" | translate}}</h5>
    <p>{{"termsP1" | translate}}</p>
    <h5>{{"termsH5-2" | translate}}</h5>
    <p>{{"termsP2" | translate}}</p>
        <ul>
            <li>{{"termsLi1" | translate}}</li>
            <li>{{"termsLi2" | translate}}</li>
            <li>{{"termsLi3" | translate}}</li>
            <li>{{"termsLi4" | translate}}</li>
        </ul>
        <p>{{"termsP3" | translate}}</p>
    <h5>{{"termsH5-3" | translate}}</h5>
    <p>{{"termsP4" | translate}}</p>
    <h5>{{"termsH5-4" | translate}}</h5>
    <p>{{"termsP5" | translate}}</p>
    <h5>{{"termsH5-5" | translate}}</h5>
    <p>{{"termsP6" | translate}}</p>
    <h5>{{"termsH5-6" | translate}}</h5>
    <p>{{"termsP7" | translate}}</p>
    <h5>{{"termsH5-7" | translate}}</h5>
    <p>{{"termsP8" | translate}}</p>
    <h5>{{"termsH5-8" | translate}}</h5>
    <p>{{"termsP9" | translate}}</p>
    <h5>{{"termsH5-9" | translate}}</h5>
    <p>{{"termsP10" | translate}}</p>
    <h5>{{"termsH5-10" | translate}}</h5>
    <p>{{"termsP11" | translate}}</p>
        <ul><li>{{"termsLi5" | translate}}</li>
            <li>{{"termsLi6" | translate}}</li>
            <li>{{"termsLi7" | translate}}</li>
            <li>{{"termsLi8" | translate}}</li>
            <li>{{"termsLi9" | translate}}</li>
            <li>{{"termsLi10" | translate}}
                <ul>
                    <li>{{"termsLi11" | translate}}</li>
                    <li>{{"termsLi12" | translate}}</li>
                    <li>{{"termsLi13" | translate}}</li>
                    <li>{{"termsLi14" | translate}}</li>
                    <li>{{"termsLi15" | translate}}</li>
                    <li>{{"termsLi16" | translate}}</li>
                    <li>{{"termsLi17" | translate}}</li>
                </ul>
            </li>
        </ul>
    <p>{{"termsP12" | translate}}</p>
    <h5>{{"termsH5-11" | translate}}</h5>
    <p>{{"termsP13" | translate}}</p>
        <ul>
            <li>{{"termsLi18" | translate}}</li>
            <li>{{"termsLi19" | translate}}</li>
            <li>{{"termsLi20" | translate}}</li>
            <li>{{"termsLi21" | translate}}</li>
        </ul>
    <h5>{{"termsH5-12" | translate}}</h5>
    <p>{{"termsP14" | translate}}</p>
    <h5>{{"termsH5-13" | translate}}</h5>
    <p>{{"termsP15" | translate}}</p>
    <ul>
        <li>{{"termsLi22" | translate}}</li>
    </ul>
    <p [innerHTML]="'termsP16' | translate"></p>
    <ul>
        <li>{{"termsLi23" | translate}}</li>
    </ul>
    <p>{{"termsP17" | translate}}</p>
    <ul>
        <li>{{"termsLi24" | translate}}</li>
    </ul>
    <p>{{"termsP18" | translate}}</p>
    <h5>{{"termsH5-14" | translate}}</h5>
    <p>{{"termsP19" | translate}}</p>
</div>