<div class="mini-header-background">
    <div class="mini-header">
        <h3 style="font-size: 40px;"><b>{{"privacyHeader" | translate | uppercase}}</b></h3>
        <h4 style="font-size: 20px;"><b>{{"privacyHeaderDescrizione" | translate}}</b></h4>
    </div>
</div>

<div class="container">
    <h5 class="title-big">{{"privacyHeader" | translate}}</h5>

    <p>{{"privacyP1" | translate}}</p>

    <h6 class="title">{{"privacyH6-1" | translate}}</h6>
    <p>{{"privacyP2" | translate}}</p>
    <ul>
        <li>{{"privacyLi1" | translate}}</li>
        <li>{{"privacyLi2" | translate}}</li>
        <li>{{"privacyLi3" | translate}}</li>
    </ul>

    <h6 class="title">{{"privacyH6-2" | translate}}</h6>
    <p>{{"privacyP3" | translate}}</p>
    <ul>
        <li>{{"privacyLi4" | translate}}</li>
        <li>{{"privacyLi5" | translate}}</li>
        <li>{{"privacyLi6" | translate}}</li>
    </ul>

    <h6 class="title">{{"privacyH6-3" | translate}}</h6>
    <p>{{"privacyP4" | translate}}</p>
    <ul>
        <li>{{"privacyLi7" | translate}}</li>
        <li>{{"privacyLi8" | translate}}</li>
    </ul>

    <h6 class="title">{{"privacyH6-4" | translate}}</h6>
    <p>{{"privacyP5" | translate}}</p>
    <ul>
        <li>{{"privacyLi9" | translate}}</li>
        <li>{{"privacyLi10" | translate}}</li>
    </ul>

    <h6 class="title">{{"privacyH6-5" | translate}}</h6>
    <p>{{"privacyP6" | translate}}</p>

    <h6 class="title">{{"privacyH6-6" | translate}}</h6>
    <p>{{"privacyP7" | translate}}</p>

    <h6 class="title">{{"privacyH6-7" | translate}}</h6>
    <p>{{"privacyP8" | translate}}</p>

    <p>{{"privacyP9" | translate}}</p>
</div>