<div class="mini-header-background">
    <div class="mini-header">
        <h3 style="font-size: 40px;"><b>VILLE ED APPARTAMENTI</b></h3>
        <h4 style="font-size: 20px;"><b>Per vacanze in Sardegna</b></h4>
    </div>
</div>


<div class="filter-box">
    <div class="filter-box-title">
            <h3>Dotazioni</h3>
        <div class="amenities" *ngFor="let selectableAmenity of selectableAmenities">
            <label>
                <input type="checkbox" [checked]="selectableAmenity.selected" (change)="onChange(null, selectableAmenity.code)">
                {{selectableAmenity.name}}
            </label>
        </div>
    </div>
    <div class="filter-box-title">
        <h3>Località/Città</h3>
        <div class="localities" *ngFor="let selectableCity of selectableCities">
            <label>
                <input type="checkbox" [checked]="selectableCity.selected" (change)="onChange(selectableCity.name, null)">
                {{selectableCity.name}}
            </label>
        </div>
    </div>
</div>


  
   

<app-housecards #child [accommodations]="allAccommodations"></app-housecards>
<div style="display: flex; justify-content: center;">
    <button class="btn" style="text-align: center;" (click)="loadMoreCards()">Carica più schede</button>
</div>