<div class="accommodation" *ngFor="let accommodation of accommodations">
  <img [src]="accommodation.images?.[0]" class="accommodation-img-top" alt="Accommodation image">
  <div class="accomodation-body">
    <h5 class="accomodation-title">{{ accommodation.name_it }}</h5>
    <h6 class="accomodation-subtitle mb-2 text-muted">{{ accommodation.name_room_type_category }}</h6>
    <p class="accomodation-text">{{ accommodation.description}}</p>

    <ul class="list-group">
      <li class="list-group-item">
        <strong>Guests:</strong> {{ accommodation.guests }}
      </li>
      <li class="list-group-item">
        <strong>Bedrooms:</strong> {{ accommodation.n_bedrooms }}
      </li>
      <li class="list-group-item">
        <strong>Bathrooms:</strong> {{ accommodation.n_bathrooms }}
      </li>
      <li class="list-group-item">
        <strong>Address:</strong> {{ accommodation.address }}, {{ accommodation.city }}, {{ accommodation.postcode }}, {{ accommodation.cod_country }}
      </li>
      <li class="list-group-item">
        <strong>Price:</strong> {{ accommodation.price }}
      </li>
      <li class="list-group-item">
        <strong>Amenities:</strong>
        <ul>
          <li *ngFor="let amenity of accommodation.amenities">{{ amenity.name.it }}</li>
        </ul>
      </li>
    </ul>

    <a [href]="accommodation.meta_it_url" class="btn btn-primary">View Details</a>
  </div>
</div>>
  