<div class="card-container">
  <div class="row" style="justify-content: center;">
    <div class="box col-lg-3 col-md-4 col-sm-12" *ngFor="let accommodation of accommodations | slice:0:cardsToShow">
      <carousel [isAnimated]="true">
        <slide *ngFor="let image of accommodation.images">
          <a href="https://affittasardegna.kross.travel{{accommodation.meta_it_url}}" (click)="trackEvent(accommodation.name_it ?? 'Unnamed Accommodation')">
            <img [src]="image" alt="foto appartamento">
          </a>
        </slide>
      </carousel>
      <div class="under-img" style="display: grid; grid-template-columns: repeat(1, 1fr) auto;">
        <h2 style="font-size: medium; color: var(--secondary);">{{ 'pricePerNight2' | translate:{price:
          accommodation.price} }}</h2>
        <h2 style="font-size: medium; color: var(--secondary);">{{'maxGuests' | translate:{guests: accommodation.guests}
          }}</h2>
      </div>
      <a href="https://affittasardegna.kross.travel{{accommodation.meta_it_url}}" (click)="trackEvent(accommodation.name_it ?? 'Unnamed Accommodation')">
        <div class="content">
          <div class="text">
            <h2>{{accommodation.name_it}}</h2>
            <p>CODICE I.U.N. - {{accommodation.license_number}}</p>
            <p>
            <div class="iconwrapper" style="margin-top: -20px;">
              <fa-icon class="icon" [icon]="faLocationDot" style="margin-left: 10px;"></fa-icon><span
                style="font-size: 17px; margin-left: 5px;">{{accommodation.city}}</span>
            </div>
          </div>
          <div class="description">
            <p>{{'descrizioneCasa' | translate:{descriptionIt: accommodation.description?.it, descriptionEn:
              accommodation.description?.en, descriptionEs: accommodation.description?.es, descriptionDe:
              accommodation.description?.de, descriptionFr: accommodation.description?.fr,} }}</p>
          </div>
          <div class="icon-container">

            <div class="iconwrapper" title="{{'bedIcon' | translate}}">
              <fa-icon class="icon" [icon]="faBed"></fa-icon><span>{{accommodation.n_bedrooms}}</span>
            </div>

            <div class="iconwrapper"title="{{'bathIcon' | translate}}">
              <fa-icon class="icon" [icon]="faBathtub"></fa-icon><span>{{accommodation.n_bathrooms}}</span>
            </div>

            <div class="iconwrapper" *ngIf="hasWifi(accommodation)" title="{{'wifiIcon' | translate}}" >
              <fa-icon class="icon" [icon]="faWifi"></fa-icon>
            </div>

            <div class="iconwrapper" *ngIf="hasMosquitoNets(accommodation)" title="{{'mosquitoIcon' | translate}}">
              <fa-icon class="icon" [icon]="faMosquitoNet"></fa-icon>
            </div>

            <div class="iconwrapper" *ngIf="hasShower(accommodation)"title="{{'showerIcon' | translate}}">
              <fa-icon class="icon" [icon]="faShower"></fa-icon>
            </div>

            <div class="iconwrapper" *ngIf="hasAirConditioning(accommodation)"title="{{'acIcon' | translate}}">
              <fa-icon class="icon" [icon]="faSnowflake"></fa-icon>
            </div>

            <div class="iconwrapper" *ngIf="hasKitchen(accommodation)"title="{{'kitchenIcon' | translate}}">
              <fa-icon class="icon" [icon]="faKitchenSet"></fa-icon>
            </div>

            <div class="iconwrapper" *ngIf="hasPingPongTable(accommodation)"title="{{'pingPongIcon' | translate}}">
              <fa-icon class="icon" [icon]="faTableTennis"></fa-icon>
            </div>

            <div class="iconwrapper" *ngIf="hasBicycle(accommodation)" title="{{'bicycleIcon' | translate}}">
              <fa-icon class="icon" [icon]="faBicycle"></fa-icon>
            </div>

            <div class="iconwrapper" *ngIf="hasGarden(accommodation)" title="{{'gardenIcon' | translate}}">
              <fa-icon class="icon" [icon]="faSeedling"></fa-icon>
            </div>

            <div class="iconwrapper" *ngIf="hasParking(accommodation)" title="{{'parkingIcon' | translate}}">
              <fa-icon class="icon" [icon]="faSquareParking"></fa-icon>
            </div>

            <div class="iconwrapper" *ngIf="hasPetsAllowed(accommodation)" title="{{'petsIcon' | translate}}">
              <fa-icon class="icon" [icon]="faPaw"></fa-icon>
            </div>

            <div class="iconwrapper" *ngIf="hasPrivatePool(accommodation)" title="{{'poolIcon' | translate}}">
              <fa-icon class="icon" [icon]="faWaterLadder"></fa-icon>
            </div>

            <div class="iconwrapper" *ngIf="hasTV(accommodation)" title="{{'tvIcon' | translate}}">
              <fa-icon class="icon" [icon]="faTv"></fa-icon>
            </div>

            <div class="iconwrapper" *ngIf="hasGarage(accommodation)" title="{{'garageIcon' | translate}}">
              <fa-icon class="icon" [icon]="faWarehouse"></fa-icon>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>