<div class="mini-header-background">
    <div class="mini-header">
        <h3 style="font-size: 40px;"><b>LOCALITA' DELLA SARDEGNA</b></h3>
        <h4 style="font-size: 20px;"><b>Informazioni turistiche sulle località della Sardegna</b></h4>
    </div>
</div>
<div class="container">
    <div class="location-list-container">
        <div class="location-list-title">
            <h3><b>Località</b></h3>    
        </div>
        <div class="location-list">
            <ul class="location-list-item" *ngFor="let city of selectableCities">
                <li><a href="">{{city.name}}</a></li>
                <a [routerLink]="['/ville-appartamenti-vacanze-sardegna']" class="numero-alloggi" style="font-size: 10px;">{{city.accommodationsCount}} alloggi</a>
            </ul>
       </div>
    </div>
</div>