<div class="mini-header-background">
    <div class="mini-header">
        <h4 style="font-size: 40px;"><b>AffittaSardegna Soc. Coop</b></h4>
        <h3 style="font-size: 20px;"><b>P.IVA: 02737310900</b></h3>
        <div>
            <ul>
                <li><a href="https://www.google.com/maps/place/Via+Ariosto,+3,+07046+Porto+Torres+(SS)">
                    <i class="ri-map-pin-line" style="font-size: 40px;"></i>
                    <b>Via Ariosto, 3 Porto Torres</b>
                </a></li>
                <li><a href="tel:+393494787272">
                    <i class="ri-phone-line" style="font-size: 40px;"></i>
                    <b>+39 3494787272</b>
                  </a></li>
                <li><a href="mailto:info@affittasardegna.it">
                    <i class="ri-mail-line" style="font-size: 40px;"></i>
                    <b>info@affittasardegna.it</b>
                  </a></li>
                <li>
                    <a href="https://www.facebook.com/affittasardegna" target="_blank">
                        <i class="ri-facebook-circle-fill" style="font-size: 40px;"></i>
                        <b>Facebook @AffittaSardegna</b>
                    </a></li>
            </ul>
        </div>
    </div>
</div>

