<nav class="navbar navbar-expand-lg fixed-top container-fluid">
  <div class="container">
    <a class="logo" [routerLink]="['/' + ('rl.home' | translate)]">
      <img src="assets/images/logo.png" alt="Logo">
    </a>

    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse custom-collapse justify-content-end" id="navbar" [ngbCollapse]="isCollapsed" [ngClass]="{'white-bg': !isCollapsed}" style="margin-right: 15px;">
        <a class="nav-link" [routerLink]="['/' + ('rl.gliAlloggi' | translate)]" (click)="isCollapsed = true">{{ 'gliAlloggi' | translate }}</a>
        <a class="nav-link" [routerLink]="['/' + ('rl.localita' | translate)]" (click)="isCollapsed = true">{{ 'localita' | translate }}</a>
        <a class="nav-link" [routerLink]="['/' + ('rl.proponiImmobile' | translate)]" (click)="isCollapsed = true">{{ 'proponiImmobile' | translate }}</a>
        <a class="nav-link" [routerLink]="['/' + ('rl.chiSiamo' | translate)]" (click)="isCollapsed = true">{{ 'chiSiamo' | translate }}</a>
        <a class="nav-link" [routerLink]="['/' + ('rl.contatti' | translate)]" (click)="isCollapsed = true">{{ 'contatti' | translate }}</a>
      <div class="nav-link dropdown ml-2" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" ngbDropdownToggle>
          <img [src]="languageIcon" alt="Language Icon" style="height: 12px;"> {{ 'lingua' | translate }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
          <a class="dropdown-item" style="background-color: transparent;" href="de" (click)="changeLanguage('de', true)">Deutsch<img src="./assets/images/flags/de.jpg" alt="Deutsch flag" style="height: 16px"></a>
          <a class="dropdown-item" style="background-color: transparent;" href="en" (click)="changeLanguage('en', true)">English<img src="./assets/images/flags/en.jpg" alt="English flag" style="height: 16px"></a>
          <a class="dropdown-item" style="background-color: transparent;" href="es" (click)="changeLanguage('es', true)">Español<img src="./assets/images/flags/es.jpg" alt="Spanish flag" style="height: 16px"></a>
          <a class="dropdown-item" style="background-color: transparent;" href="" (click)="changeLanguage('it', true)">Italiano<img src="./assets/images/flags/it.jpg" alt="italian flag" style="height: 16px"></a>
          <a class="dropdown-item" style="background-color: transparent;" href="fr" (click)="changeLanguage('fr', true)">Français<img src="./assets/images/flags/fr.jpg" alt="french flag" style="height: 16px"></a>
        </div>
      </div>
      <a class="nav-link" href="tel:+393494787272" style="margin-bottom: 5px;">
        <i class="ri-phone-fill" style="color: var(--primary); font-size: 20px;"></i>
        +39 3494787272
      </a>
      <a class="nav-link" href="mailto:info@affittasardegna.it" style="margin-bottom: 5px;">
        <i class="ri-mail-fill" style="color: var(--primary); font-size: 20px;"></i>
        info@affittasardegna.it
      </a>
    </div>
  </div>
</nav>
