nav{
    margin-top: 10px;
    height: 50px;
    background-color: var(--navbar-footer-color);
}

.nav-link{
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: bold;
}

.white-bg {
  background-color: white;
  border-radius: 10px;
}


@media (max-width: 992px) {
    .custom-collapse {
      text-align: center;
    }
  }
  
