<div class="filter-box-title container-fluid container" style="align-items: center;">
    <div class="row">
        <div class="col-md">
            <div class="input-group">
                <p class="migliorPrezzo">{{"homePrezzoGarantito" | translate | uppercase}}</p>
                <input id="nameInput" type="text" class="form-control input-responsive"
                    placeholder="{{'filtroHomePage' | translate}}" />
                <button class="btn" style="margin: 0px" (click)="onSearchClick()">Cerca</button>
            </div>
        </div>
    </div>
</div>


<!-- header -->

<div class="home container">
    <div class="home-text">
        <h1 style="font-family: sans-serif; font-weight: 900;">{{"homeheader-trova" | translate | uppercase}} {{"homeheader-alloggio" | translate |
            uppercase}} {{"homeheader-vacanza" | translate | uppercase}}</h1>
            <div style="display: flex; justify-content: space-around;">
                <a [routerLink]="['/' + ('rl.gliAlloggi' | translate)]" class="btn" style="display: flex; justify-content: space-around;">{{'headerButton' | translate}}</a>
            </div>
    </div>
</div>
<!-- header end -->

<!-- searchbar -->
<div class="section-container booking-container container">
    <div class="booking-nav" style="display: flex;
        flex-direction: row;
        justify-content: space-around; ">
        <div class="nav-item" style="margin-top: 20px;">
            <i class="ri-phone-find-line"
                style="background-color: #2A3F80; color: white; font-size: 60px; border-radius: 40px; height: 80px; width: 80px; text-align: center;"></i>
            <span style="margin-top: -12px;">{{'home-cerca' | translate}}</span>
        </div>
        <div class="nav-item" style="margin-top: 20px;">
            <i class="ri-heart-3-line"
                style="background-color: #2A3F80; color: white; font-size: 60px; border-radius: 40px; height: 80px; width: 80px; text-align: center;"></i>
            <span style="margin-top: -12px;">{{'home-scegli' | translate}}</span>
        </div>
        <div class="nav-item" style="margin-top: 20px;">
            <i class="ri-luggage-cart-line"
                style="background-color: #2A3F80; color: white; font-size: 60px; border-radius: 40px; height: 80px; width: 80px; text-align: center;"></i>
            <span style="margin-top: -12px;">{{'home-prenota' | translate}}</span>
        </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
        <div class="form-group">
            <div class="input-content">
                <div class="input-group2">
                    <span class="label" style="font-size: 20px;">Check-in</span>
                    <mat-datepicker-toggle matSuffix [for]="checkInPicker"></mat-datepicker-toggle>
                    <input style="text-align: center;" matInput [matDatepicker]="checkInPicker"
                        formControlName="checkIn" id="checkIn-input" class="custom-input"
                        (dateChange)="onCheckInDateChange($event)">
                    <mat-datepicker #checkInPicker></mat-datepicker>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-content">
                <div class="input-group2">
                    <span class="label" style="font-size: 20px;">Check-out</span>
                    <mat-datepicker-toggle matSuffix [for]="checkOutPicker"></mat-datepicker-toggle>
                    <input style="text-align: center;" matInput [matDatepicker]="checkOutPicker"
                        formControlName="checkOut" id="checkOut-input" class="custom-input">
                    <mat-datepicker #checkOutPicker></mat-datepicker>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-content">
                <div class="input-group2">
                    <span class="label" style="font-size: 20px;">{{'ospiti' | translate}}</span>
                    <span><i class="ri-user-5-line"></i></span>
                    <input style="text-align: center;" type="number" min="1" formControlName="guests" id="guests-input"
                        class="custom-input">
                </div>
            </div>
        </div>
        <div class="btn" style="margin: 10px;" (click)="onFormSubmit()"><i class="ri-search-line"></i></div>
    </form>

</div>
<!-- searchbar end -->


<!-- featured session -->
<div class="featured">
    <div class="featured-title">
        <h2>{{'primoPiano' | translate}}</h2>
    </div>
    <div class="featured-housecards">
        <app-housecards [accommodations]="allAccommodations"></app-housecards>
    </div>
</div>
<!-- featured session end -->

<!-- localities map -->
<!-- localities map end -->




<!-- localities gallery -->

<div class="localities-background">
    <div class="localities-big-container">
        <div class="localities-section" style="padding-top: 10px;">
            <h2 class="localities-title">{{"LOCALITÀ TURISTICHE" | translate}}</h2>
            <div class="localities-item-container">
                <div class="localities-item-content">
                    {{"bestlocalities" | translate}}
                </div>
            </div>
        </div>
        <div class="localities-container">
            <div class="localities-item-details">
                <div class="localities-image-container" data-wow-delay="0.1s">
                    <img src="https://i.postimg.cc/0QyFv4qF/28-Stintino-1.jpg" alt="" class="localities-image" />
                    <div class="localities-overlay">
                        <div class="localities-overlay-content">
                            <h3 class="localities-overlay-title">STINTINO</h3>
                            <p class="localities-overlay-description">{{"stintinoHomeDescription" | translate}}</p>
                            <a [href]="['/' + ('rl.localita' | translate) + '#27']"
                                class="localities-overlay-link">{{"scopriDiPiù" | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="localities-image-container" data-wow-delay="0.1s">
                    <img src="https://i.postimg.cc/Vk3kdjNK/1-ALGHERO-p-sulis.jpg" alt="" class="localities-image" />
                    <div class="localities-overlay">
                        <div class="localities-overlay-content">
                            <h3 class="localities-overlay-title">ALGHERO</h3>
                            <p class="localities-overlay-description">{{"algheroHomeDescription" | translate}}</p>
                            <a [href]="['/' + ('rl.localita' | translate) + '#1']"
                                class="localities-overlay-link">{{"scopriDiPiù" |
                                translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="localities-image-container" data-wow-delay="0.1s">
                    <img src="https://i.postimg.cc/P51BQZ43/25-San-Teodoro.jpg" alt="" class="localities-image" />
                    <div class="localities-overlay">
                        <div class="localities-overlay-content">
                            <h3 class="localities-overlay-title">SAN TEODORO</h3>
                            <p class="localities-overlay-description">{{"sanTeodoroHomeDescription" | translate}}</p>
                            <a [href]="['/' + ('rl.localita' | translate) + '#24']"
                                class="localities-overlay-link">{{"scopriDiPiù" |
                                translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="localities-image-container" data-wow-delay="0.1s">
                    <img src="https://i.postimg.cc/4dG41sVt/5-BUDONI-Spiaggia-budoni-5.jpg" alt="" class="localities-image" />
                    <div class="localities-overlay">
                        <div class="localities-overlay-content">
                            <h3 class="localities-overlay-title">BUDONI</h3>
                            <p class="localities-overlay-description">{{"descrizioneLocalità1" | translate}}</p>
                            <a [href]="['/' + ('rl.localita' | translate) + '#4']"
                                class="localities-overlay-link">{{"scopriDiPiù" |
                                translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="localities-image-container" data-wow-delay="0.1s">
                    <img src="https://i.postimg.cc/VLJwndpp/14-OROSEI-Cala-liberotto-3.jpg" alt="" class="localities-image" />
                    <div class="localities-overlay">
                        <div class="localities-overlay-content">
                            <h3 class="localities-overlay-title">OROSEI</h3>
                            <p class="localities-overlay-description">{{"oroseiHomeDescription" | translate}}</p>
                            <a [href]="['/' + ('rl.localita' | translate) + '#12']"
                                class="localities-overlay-link">{{"scopriDiPiù" |
                                translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="localities-image-container" data-wow-delay="0.1s">
                    <img src="https://i.postimg.cc/bY3YQXJD/6-Cala-GONONE.jpg" alt="" class="localities-image" />
                    <div class="localities-overlay">
                        <div class="localities-overlay-content">
                            <h3 class="localities-overlay-title">CALA GONONE</h3>
                            <p class="localities-overlay-description">{{"calaGononeHomeDescription" | translate}}</p>
                            <a [href]="['/' + ('rl.localita' | translate) + '#5']"
                                class="localities-overlay-link">{{"scopriDiPiù" |
                                translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- localities gallery end -->

<!-- review section start -->

<div class="testimonial-heading">
    <span>{{"recensioni" | translate | uppercase}}</span>
    <h2>{{"cheDicono" | translate | uppercase}}</h2>
</div>
<div class="testimonials-box-container container">
    <div class="row">
        <div class="col-md-4 review-responsive">
            <a href="https://www.google.com/maps/reviews/@40.836035,8.4079021,17z/data=!3m1!4b1!4m5!14m4!1m3!1m2!1s113392898111958954223!2s0x12dc860ca603c38b:0x658915030789bc5e?entry=ttu"
                style="text-decoration: none;">
                <div class="testimonial-box">
                    <div class="box-top">
                        <div class="profile">
                            <div class="profile-image">
                                <img src=".\assets\images\prove\unnamed.png" alt="foto profilo recensore">
                            </div>
                            <div class="username">
                                <strong>Roberta Larosa</strong>
                            </div>
                        </div>
                        <div class="reviews">
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                        </div>
                    </div>
                    <div class="client-comment">
                        <p>{{"recensioneRoberta" | translate}}</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 review-responsive">
            <a href="https://www.google.com/maps/contrib/110547588011017576491/place/ChIJi8MDpgyG3BIRXryJBwMViWU/@46.9175551,5.6115678,5z/data=!4m6!1m5!8m4!1e1!2s110547588011017576491!3m1!1e1?hl=it&entry=ttu"
                style="text-decoration: none;">
                <div class="testimonial-box">
                    <div class="box-top">
                        <div class="profile">
                            <div class="profile-image">
                                <img src=".\assets\images\prove\unnamed (3).png" alt="foto profilo recensore">
                            </div>
                            <div class="username">
                                <strong>Jan Peteaux</strong>
                            </div>
                        </div>
                        <div class="reviews">
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                        </div>
                    </div>
                    <div class="client-comment">
                        <p>{{"recensioneJan" | translate}}
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 review-responsive">
            <a href="https://www.google.com/maps/contrib/109222343050112709117/place/ChIJi8MDpgyG3BIRXryJBwMViWU/@44.1443753,10.9319302,6z/data=!4m6!1m5!8m4!1e1!2s109222343050112709117!3m1!1e1?hl=it&entry=ttu"
                style="text-decoration: none;">
                <div class="testimonial-box">
                    <div class="box-top">
                        <div class="profile">
                            <div class="profile-image">
                                <img src=".\assets\images\prove\unnamed (4).png" alt="foto profilo recensore">
                            </div>
                            <div class="username">
                                <strong>Coerobay 2.0</strong>
                            </div>
                        </div>
                        <div class="reviews">
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                        </div>
                    </div>
                    <div class="client-comment">
                        <p>{{"recensioneCoerobay" | translate}}
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 review-responsive">
            <a href="https://www.google.com/maps/contrib/117713883007182008276/place/ChIJi8MDpgyG3BIRXryJBwMViWU/@45.4635615,1.176568,6z/data=!4m4!1m3!8m2!1e1!2s117713883007182008276?hl=it&entry=ttu"
                style="text-decoration: none;">
                <div class="testimonial-box">
                    <div class="box-top">
                        <div class="profile">
                            <div class="profile-image">
                                <img src=".\assets\images\prove\unnamed (5).png" alt="foto profilo recensore">
                            </div>
                            <div class="username">
                                <strong>Angelo</strong>
                            </div>
                        </div>
                        <div class="reviews">
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                        </div>
                    </div>
                    <div class="client-comment">
                        <p>{{"rensioneAngelo" | translate}}</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 review-responsive">
            <a href="https://www.google.com/maps/contrib/110238579215932007837/place/ChIJi8MDpgyG3BIRXryJBwMViWU/@40.5872509,9.84252,8z/data=!4m4!1m3!8m2!1e1!2s110238579215932007837?hl=it&entry=ttu"
                style="text-decoration: none;">
                <div class="testimonial-box">
                    <div class="box-top">
                        <div class="profile">
                            <div class="profile-image">
                                <img src=".\assets\images\prove\unnamed (6).png" alt="foto profilo recensore">
                            </div>
                            <div class="username">
                                <strong>Franco D'Amore</strong>
                            </div>
                        </div>
                        <div class="reviews">
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                        </div>
                    </div>
                    <div class="client-comment">
                        <p>{{"recensioneFranco" | translate}}
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 review-responsive">
            <a href="https://www.google.com/maps/contrib/101950063772855002896/place/ChIJi8MDpgyG3BIRXryJBwMViWU/@1.2873323,-42.6638306,4z/data=!4m6!1m5!8m4!1e1!2s101950063772855002896!3m1!1e1?hl=it&entry=ttu"
                style="text-decoration: none;">
                <div class="testimonial-box">
                    <div class="box-top">
                        <div class="profile">
                            <div class="profile-image">
                                <img src=".\assets\images\prove\unnamed (2).png" alt="foto profilo recensore">
                            </div>
                            <div class="username">
                                <strong>Rocio Irazoqui</strong>
                            </div>
                        </div>
                        <div class="reviews">
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                            <fa-icon class="icon" [icon]="faStar"></fa-icon>
                        </div>
                    </div>
                    <div class="client-comment">
                        <p>{{"recensioneRocio" | translate}}
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- review section end -->
<!-- experience section start -->

<div class="experience-banner">
    <div class="experience-text">
        <p class="experience-text" [innerHTML]="'experienceText' | translate"></p>
        <a [routerLink]="['/' + ('rl.gliAlloggi' | translate)]" class="btn btn-experience">{{"experiencePrenota" | translate}}</a>
    </div>
</div>