<div class="filter-box-title container-fluid container" style="align-items: center;">
    <div class="row">
        <div class="col-md">
            <div class="input-group">
                <p class="migliorPrezzo">{{"homePrezzoGarantito" | translate | uppercase}}</p>
                <input id="nameInput" type="text" class="form-control input-responsive w-100" placeholder="{{'filtroHomePage' | translate}}" />
                <div class="input-group-append">
                    <button class="btn" style="margin: 0px; margin-left: 5px;" (click)="onSearchClick()">Cerca</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- header -->

<div class="home container">
    <div class="home-text" style="background: rgba(255, 255, 255, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.6px);">
        <h1>{{"homeheader-trova" | translate | uppercase}} <br>{{"homeheader-alloggio" | translate | uppercase}}<br>{{"homeheader-vacanza" | translate | uppercase}}</h1>
        
    <a [routerLink]="['/' + ('rl.gliAlloggi' | translate)]" class="btn">{{'headerButton' | translate}}</a>
    </div>
</div>
<!-- header end -->

<!-- searchbar -->
<div class="section-container booking-container container">
    <div class="booking-nav" style="display: flex;
        flex-direction: row;
        justify-content: space-around; ">
        <div class="nav-item" style="margin-top: -40px;">
            <i class="ri-phone-find-line"
                style="background-color: #2A3F80; color: white; font-size: 60px; border-radius: 40px; height: 80px; width: 80px; text-align: center;"></i>
            <span>{{'home-cerca' | translate}}</span>
        </div>
        <div class="nav-item" style="margin-top: -40px;">
            <i class="ri-heart-3-line"
                style="background-color: #2A3F80; color: white; font-size: 60px; border-radius: 40px; height: 80px; width: 80px; text-align: center;"></i>
            <span>{{'home-scegli' | translate}}</span>
        </div>
        <div class="nav-item" style="margin-top: -40px;">
            <i class="ri-luggage-cart-line"
                style="background-color: #2A3F80; color: white; font-size: 60px; border-radius: 40px; height: 80px; width: 80px; text-align: center;"></i>
            <span>{{'home-prenota' | translate}}</span>
        </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
        <div class="form-group">
            <div class="input-content">
                <div class="input-group">
                    <span class="label" style="font-size: 20px;">Check-in</span>
                    <mat-datepicker-toggle matSuffix [for]="checkInPicker"></mat-datepicker-toggle>
                    <input style="text-align: center;" matInput [matDatepicker]="checkInPicker" formControlName="checkIn" id="checkIn-input"
                        class="custom-input">
                    <mat-datepicker #checkInPicker></mat-datepicker>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-content">
                <div class="input-group">
                    <span class="label" style="font-size: 20px;">Check-out</span>
                    <mat-datepicker-toggle matSuffix [for]="checkOutPicker"></mat-datepicker-toggle>
                    <input style="text-align: center;" matInput [matDatepicker]="checkOutPicker" formControlName="checkOut" id="checkOut-input"
                        class="custom-input">
                    <mat-datepicker #checkOutPicker></mat-datepicker>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-content">
                <div class="input-group">
                    <span class="label" style="font-size: 20px;">{{'ospiti' | translate}}</span>
                    <span><i class="ri-user-5-line"></i></span>
                    <input style="text-align: center;" type="number" min="1" formControlName="guests" id="guests-input" class="custom-input">
                </div>
            </div>
        </div>
        <div class="btn"  style="margin: 10px;" (click)="onFormSubmit()"><i class="ri-search-line"></i></div>
    </form>

</div>
<!-- searchbar end -->


<!-- featured session -->
<div class="featured">
    <div class="featured-title">
        <h2>{{'primoPiano' | translate}}</h2>
    </div>
    <div class="featured-housecards">
        <app-housecards [accommodations]="allAccommodations"></app-housecards>
    </div>
</div>
<!-- featured session end -->

<!-- localities map -->
<!-- localities map end -->




<!-- localities gallery -->

<div class="localities-background">
    <div class="localities-big-container">
        <div class="localities-section" style="padding-top: 10px;">
            <h2 class="localities-title">{{"LOCALITÀ TURISTICHE" | translate}}</h2>
            <h4 class="localities-subtitle">{{"In primo piano"|translate}}</h4>
            <div class="localities-item-container">
                <div class="localities-item-content">
                    {{"bestlocalities" | translate}}
                </div>
            </div>
        </div>
        <div class="localities-container">
            <div class="localities-item-details">
                <div class="localities-image-container" data-wow-delay="0.1s">
                    <img src="./assets/images/28. Stintino 1.jpg" alt="" class="localities-image" />
                    <div class="localities-overlay">
                        <div class="localities-overlay-content">
                            <h3 class="localities-overlay-title">STINTINO</h3>
                            <p class="localities-overlay-description">Borgo di pescatori fondato nel 1885 dagli abitanti dell’isola Asinara, destinata a...</p>
                            <a href="/localita-spiagge-sardegna#30" class="localities-overlay-link">{{"scopriDiPiù" | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="localities-image-container" data-wow-delay="0.1s">
                    <img src="./assets/images/1. ALGHERO.jpg" alt="" class="localities-image" />
                    <div class="localities-overlay">
                        <div class="localities-overlay-content">
                            <h3 class="localities-overlay-title">ALGHERO</h3>
                            <p class="localities-overlay-description">Perla della “Riviera del Corallo”, ricca di testimonianze del suo passato catalano...</p>
                            <a href="/localita-spiagge-sardegna#2" class="localities-overlay-link">{{"scopriDiPiù" | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="localities-image-container" data-wow-delay="0.1s">
                    <img src="./assets/images/25. San Teodoro.jpg" alt="" class="localities-image" />
                    <div class="localities-overlay">
                        <div class="localities-overlay-content">
                            <h3 class="localities-overlay-title">SAN TEODORO</h3>
                            <p class="localities-overlay-description">Affascinante paesino disposto in pianura, a poche centinaia di metri dalla costa...</p>
                            <a href="/localita-spiagge-sardegna#27" class="localities-overlay-link">{{"scopriDiPiù" | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="localities-image-container" data-wow-delay="0.1s">
                    <img src="./assets/images/5. BUDONI Spiaggia_budoni_1536x804.jpg" alt="" class="localities-image" />
                    <div class="localities-overlay">
                        <div class="localities-overlay-content">
                            <h3 class="localities-overlay-title">BUDONI</h3>
                            <p class="localities-overlay-description">{{"descrizioneLocalità1" | translate}}</p>
                            <a href="/localita-spiagge-sardegna#localita22"
                                class="localities-overlay-link">{{"scopriDiPiù" | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="localities-image-container" data-wow-delay="0.1s">
                    <img src="./assets/images/14. OROSEI -Cala liberotto 2.jpg" alt="" class="localities-image" />
                    <div class="localities-overlay">
                        <div class="localities-overlay-content">
                            <h3 class="localities-overlay-title">OROSEI</h3>
                            <p class="localities-overlay-description">Capoluogo balneare della Barbagia, è situata tra il mare, più o meno a metà della costa orientale...</p>
                            <a href="/localita-spiagge-sardegna#localita22" class="localities-overlay-link">{{"scopriDiPiù" | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="localities-image-container" data-wow-delay="0.1s">
                    <img src="./assets/images/6. Cala GONONE .jpg" alt="" class="localities-image" />
                    <div class="localities-overlay">
                        <div class="localities-overlay-content">
                            <h3 class="localities-overlay-title">CALA GONONE</h3>
                            <p class="localities-overlay-description">Cala Gonone è un grosso borgo turistico nel centro del Golfo di Orosei, capoluogo balneare...</p>
                            <a href="/localita-spiagge-sardegna#localita22" class="localities-overlay-link">{{"scopriDiPiù" | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- localities gallery end -->