.page-holder {
    min-height: 200px;
  }
  
  .bg-cover {
    background-size: cover !important;
  }

  .text-center{
    border-radius: 16px;
  }

  .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #337ab7; /* Colore di sfondo circolare */
    color: #fff; /* Colore dell'icona */
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    margin-right: 5px;
  }
  
  .text-center2{
    font-family: 'Roboto', sans-serif;
}
  