/* You can add global styles to this file, and also import other style files */
@import "~node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --primary-color: #00399b;
    --secondary-color: white;
    --body-text-color: #00399b;
    --navbar-footer-color: white;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--body-text-color)
}

.shadow-effect{
    border: none;
    box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
}

.bg-theme{
    background-color: var(--primary-color);
}

.bg-secondary-theme{
    background-color: var(--secondary-color);
}

.text-theme-primary{
    color: var(--primary-color);
}


.btn-theme{
    height: 58px;
    border: none;
    font-size: 13px;
    background-color: var(--primary-color);
    color: white;
}

input[type="text"], input[type="email"]{
    height: 60px;
    padding-left: 20px;
    font-size: 13px;
    width: 100%;
}

.app-body {
    margin-top: 80px;
}

.text-center{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: 'Roboto', sans-serif;
}